<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>DOCUMENTATION</li>
          <li>R2DBC PostgreSQL (coming)</li>
          <li>R2DBC H2 (coming)</li>
          <li>R2DBC Reactor Client (coming)</li>
          <li>Spring Data R2DBC (coming)</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>RESOURCES</li>
          <!-- <li>Tutorials</li> -->
          <li><a href="/resources/#videos">Videos</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>COMMUNITY</li>
            <li><a href="https://github.com/r2dbc" target="_blank">Github</a></li>
            <li><a href="https://twitter.com/r2dbc" target="_blank">Twitter</a></li>
            <li><a href="https://stackoverflow.com/questions/tagged/r2dbc" target="_blank">Questions on Stackoverflow</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/r2dbc">Mailing List</a></li>
            <li><a href="mailto:{{ site.email }}">Email</a></li>
        </ul>
      </div>
    </div>

    <p><span class="licence">R2DBC is licensed under the Apache Software License 2.</span></p>

    <p>© 2018 <a href="/">R2DBC</a>, powered by <a href="https://pivotal.io/" class="pivotal" target="_blank">Pivotal</a> | <a href="https://www.pivotal.io/terms-of-use" target="_blank">Terms of Use</a> | <a href="https://www.pivotal.io/privacy-policy" target="_blank">Privacy</a> | <span id="teconsent"></span></p>

  </div>

</footer>
