<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>DRIVERS</li>
                    <li><a href="https://github.com/r2dbc/r2dbc-h2">R2DBC H2</a></li>
                    <li><a href="https://github.com/r2dbc/r2dbc-postgresql">R2DBC PostgreSQL</a></li>
                    <li><a href="https://github.com/r2dbc/r2dbc-proxy">R2DBC Proxy</a></li>
                    <li><a href="https://github.com/r2dbc/r2dbc-mssql">R2DBC SQL Server</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>CLIENTS</li>
                    <li><a href="https://github.com/r2dbc/r2dbc-client">R2DBC Reactor Client</a></li>
                    <li><a href="https://docs.spring.io/spring-data/r2dbc/docs/1.0.x/reference/html/">Spring Data
                        R2DBC</a></li>
                </ul>

                <ul class="social-media-list">
                    <li>RESOURCES</li>
                    <!-- <li>Tutorials</li> -->
                    <li><a href="/resources/#videos">Videos</a></li>
                    <li><a href="/spec/1.0.0.M7/spec/html/">Specification</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li>COMMUNITY</li>
                    <li><a href="https://github.com/r2dbc" target="_blank">Github</a></li>
                    <li><a href="https://twitter.com/r2dbc" target="_blank">Twitter</a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/r2dbc" target="_blank">Questions on
                        Stackoverflow</a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/r2dbc">Mailing List</a></li>
                    <li><a href="mailto:{{ site.email }}">Email</a></li>
                </ul>
            </div>
        </div>

        <p><span class="licence">R2DBC is licensed under the Apache Software License 2.</span></p>

        <p>© 2018-2019 <a href="/">R2DBC</a>, powered by <a href="https://pivotal.io/" class="pivotal" target="_blank">Pivotal</a>
            | <a href="https://www.pivotal.io/terms-of-use" target="_blank">Terms of Use</a>
            | <a href="https://www.pivotal.io/privacy-policy" target="_blank">Privacy</a>
            | <a href="https://github.com/r2dbc/r2dbc-spi/blob/master/CODE_OF_CONDUCT.adoc" target="_blank">Code of Conduct</a>
            <span id="teconsent"></span></p>
    </div>

</footer>
